In [4]:
# import relevant libraries

import pandas as pd
import numpy as np
import tensorflow as tf
import keras

In [5]:
# import data 

df = pd.read_csv(r"C:\Users\adityamxr\Desktop\Projects\Spotify-time-series\label_encoded_streams_df.csv")

In [6]:
# verify 

df.head()

,acousticness,danceability,duration_ms,energy,explicit,instrumentalness,liveness,loudness,mode,popularity,speechiness,tempo,valence,year,cleaned_broad_genre,labelenc_genre
0,0.995,0.708,158648,0.1950,0,0.563,0.1510,-12.428,1,0,0.0506,118.469,0.7790,1928,unknown,500
1,0.994,0.379,282133,0.0135,0,0.901,0.0763,-28.454,1,0,0.0462,83.972,0.0767,1928,early music,138
2,0.604,0.749,104300,0.2200,0,0.000,0.1190,-19.924,0,0,0.9290,107.177,0.8800,1928,epicore,149
3,0.995,0.781,180760,0.1300,0,0.887,0.1110,-14.734,0,0,0.0926,108.003,0.7200,1928,tango,477
4,0.990,0.210,687733,0.2040,0,0.908,0.0980,-16.829,1,1,0.0424,62.149,0.0693,1928,classical,96

In [7]:
df2 = df.copy()

# compute annual averages of the selected features
annual_avg_top_4 = df2[["acousticness", "explicit", "loudness", "labelenc_genre", "year"]] \
    .groupby("year").mean() \
    .sort_values(by="year") \
    .reset_index()

# verify aggregation
annual_avg_top_4.head()

   year  acousticness  explicit   loudness  labelenc_genre
0  1921      0.895823  0.054688 -17.095437      342.226562
1  1922      0.939236  0.000000 -19.179958      418.625000
2  1923      0.976329  0.000000 -14.373882      304.301775
3  1924      0.935575  0.000000 -14.202304      350.063291
4  1925      0.965422  0.000000 -14.516707      354.342205

In [8]:
df3 = annual_avg_top_4.copy()
df3.index
df3.year=pd.to_datetime(df2.year, format='%Y')
df3.set_index('year', inplace=True)
df3.head()

            acousticness  explicit   loudness  labelenc_genre
year
1928-01-01      0.895823  0.054688 -17.095437      342.226562
1928-01-01      0.939236  0.000000 -19.179958      418.625000
1928-01-01      0.976329  0.000000 -14.373882      304.301775
1928-01-01      0.935575  0.000000 -14.202304      350.063291
1928-01-01      0.965422  0.000000 -14.516707      354.342205

In [9]:
# create separate dataframes for each individual feature with year as the index

acousticness_df = df2[['acousticness']].copy()
explicit_df = df2[['explicit']].copy()
loudness_df = df2[['loudness']].copy()
labelenc_genre_df = df2[['labelenc_genre']].copy()

# verify 
print(acousticness_df.head())
print(explicit_df.head())
print(loudness_df.head())
print(labelenc_genre_df.head())

   acousticness
0         0.995
1         0.994
2         0.604
3         0.995
4         0.990
   explicit
0         0
1         0
2         0
3         0
4         0
   loudness
0   -12.428
1   -28.454
2   -19.924
3   -14.734
4   -16.829
   labelenc_genre
0             500
1             138
2             149
3             477
4              96